.hero{
  background:#eaf3ff;
  padding:60px 0 150px; 
}

.hero-container{
  max-width:1200px;
  margin:auto;
  padding:0 20px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-top:-30px; 
}

.hero-text{
  flex:1;
}

.hero-subtitle{
  font-size:20px;
  color:#555;
  margin-bottom:10px;
}

.hero-title{
  font-size:54px;
  font-weight:800;
  line-height:1.2;
}

.hero-title span{
  color:#1a73e8;
}

.hero-desc{
  margin-top:15px;
  font-size:16px;
  color:#666;
  max-width:450px;
  line-height:1.6;
}

.hero-btn{
  margin-top:25px;
  padding:12px 28px;
  background:#1a73e8;
  border:none;
  color:white;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.hero-btn:hover{
  background:#0f5bd3;
}

.hero-image{
  flex:1;
  text-align:right;
}

.hero-image img{
  width:480px;
  max-width:100%;
}